
@model ContatoModel

@{
    ViewData["Title"] = "Confirmar apagar";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato @Model.Nome?</h3>
    <a class="btn btn-primary" role="button" asp-controller="Contato"  asp-action="Index" role="button">cancelar exclusão</a>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar" asp-route-id="@Model.Id" role="button" >confirmar exclusão</a>
</div>

